body {
    background-color: blanchedalmond;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    font-family: 'Lucida Sans';
    font-size: 1rem;
    padding: auto;
}

.page-title {
    border: 1px solid #4e070c;
    box-shadow: 5px 5px 2px rgba(100%, 50%, 50%, .33);
}

#current-row-display {
    /* background-color: blue; */
    font-size: 4rem;
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid #4e070c;
    border-radius: 4px;
    box-shadow: 5px 5px 2px rgba(100%, 50%, 50%, .33);
    
}

h1, h2, button, .button {
    background-color: #4e070c;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
button:hover {
    opacity: 0.75;
}
.icon-btn {
    font-size: 20px;
    width: 40px;
}
h3 {
    color: #189e01;
    text-align: center;
    margin: 0.5rem;
}

.form-container {
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}


form {
    display: block;
    align-content: space-around;
    text-align: right;
}

div {
    /* border: 2px solid red; */
    /* this is just to see the div block when designing */
    text-align: center;
    margin: auto;
    padding: 20px;
}

/* #all-projects-display {
    
} */

.display-style {
    background-color: bisque;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    display: none;
}

.display-style div {
    display: inline-block;
}

.card {
    text-align: left;
    border: solid 1px #4e070c;
    border-radius: 8px;
}

h4 {
    padding: 0;
}

